<%= form_for([@game, @step]) do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>
      <ul>
      <% @step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if f.object.new_record? %>
    <%= render "shared/doodler" %>

    <%= f.hidden_field :contents %>
  <% end %>

  <div class="actions">
    <a href="#" id="clear" class="btn">Start Over</a>
    <%= f.submit "I'm done!", class: 'btn btn-large' %>
  </div>
<% end %>
